/* ----------Background Image and Logo ---------- */

@import url('https://fonts.cdnfonts.com/css/norse');

body{
    background-color: black;
}

.container {
    margin-left: 250px;
    margin-right: 250px;
    border-style: solid;
    border-color: black;
}

.flex-container {
    display: flex;
}

.image {
    flex: 1;
}

.main-content {
    flex: 2;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    position: absolute;
    top: 250px;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    width: 610px;
}
.logo-image {
    /*flex: 1;*/
}

h1 {
    flex: 2;
    font-size: 80px;
    font-family: 'Norse', sans-serif;
    color: white;
    text-align: center;
}

/* ---------- Main content top section ---------- */

p {
    font-size: 25px;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 50px;
}

/* ---------- Sign-up section ---------- */

.sign-up-section {
    background-color: white;
    padding-left: 50px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

.form-name,.form-mail,.form-pass {
    display: flex;
}

form {
    flex: 1;
    margin-top: 20px;
}

input {
    border-radius: 5px;
    border-color: #E5E7EB;
    border-width: 0.5px;
    width: 230px;
    height: 30px;
}
/* ---------- Sbutton section ---------- */
.submitBtn {
    margin-left: 50px;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    background-color: #596D48;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}